// ======================================================================
//  Lay it out!
// ======================================================================

body {
	color: #fff;
	background: #2A2A2A;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}