

.backButton {
	position: absolute;
	top: 0;
	left: 20px;
	background: #FBC175;
	padding: 8px 12px;
	color: #111;
	border-radius: 0 0 4px 4px;
	text-decoration: none;
	transition: background 0.3s;
	
	&:hover {
		background: lighten(#FBC175, 20%);
	}
}